<% unless comment.archived?  %>
  <div class="bg-gray-100 p-4 rounded-md shadow-md mb-4">
    <p class="text-lg font-semibold">
     <strong class="text-pink-400">Commenter:</strong>
     <%= comment.commenter %>
   </p>

    <p class="mt-2">
      <strong class="text-pink-400">Comment:</strong>
      <%= comment.body %>
    </p>
  </div>

  <p>
   <%= link_to "DELETE COMMENT", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" },class:"flex  justify-center h-26 w-40 mx-auto sm:h-26 sm:w-40   border-2 border-gray-400 dark:border-gray-700 font-semibold text-black dark:text-black rounded-xl  hover:bg-pink-200  my-6 py-2" %>
  </p>
  
<% end %>
